extends layout.pug
//- Mixins start
mixin navItem (name, icon, active)
    li(class=`${active ? "active" : ""}`)
        a(href="#")
            i(class=`${icon}`)
            = name
mixin gaugeItem ({title, date, percentage})
    .item
        .item-text
            h5= title
            span= date
        .item-gauge
            .outer
                .inner= percentage
mixin cardInfo()
    span Balance
    h4 $8,678.87
    .card-numbers
        span 5894
        span 6985
        span 7843
        span 5624
    .card-date
        span 08/22
        .card-date__circles
            .circle
            .circle.oval
            .circle
mixin line(arg)
    section(class=`${parseInt(arg) === 1 ? "line" : ("line" + " " + "l-"+arg)}`)
mixin renderMonth(month)
    li(class=`${month === 'Apr' ? "active" : ""}`)
        a(href="#")=month
    section(class=`${parseInt(arg) === 1 ? "line" : ("line" + " " + "l-"+arg)}`)
//- Mixins end
block append head
    style
        include ../public/css/dashboard.style.css
block append content
        .dashboard
            aside.dashboard-menu
                .dashboard-menu__logo
                    img(src="https://res.cloudinary.com/jguaura/image/upload/v1607472220/logo_a1kn6k.webp")
                .dashboard-menu__nav
                    nav
                        ul
                            each item in navItems
                                +navItem(item.name, item.icon, item.active)
                .dashboard-menu__card
                    .card-header
                        h4.
                            Use our Premium #[br]
                            features now
                    .card-img
                        img(src="https://res.cloudinary.com/jguaura/image/upload/q_100/v1607472226/car_pitbnr.webp")
                    .card-cta
                        .card-cta__wrapper
                            h4 Get premium
            main.dashboard-main
                header.dashboard-main__header
                    .header-text
                        h1 Hello, Nikky
                        span Welcome back!
                    .header-search
                        i.icon-Buscar
                        input(type="text", placeholder="Search")
                section.dashboard-main__hero
                    .hero-text
                        h2.
                            Transfer money #[br]
                            to Your Bank
                        .hero-text__circles
                            .circle
                                .card
                                    .band
                                    .square
                            .circle
                                .shapes
                                    .shape.s-1
                                    .shape.s-2
                                    .shape.s-3
                    .hero-img
                        img(src="https://res.cloudinary.com/jguaura/image/upload/q_100/v1607472227/beach_itkgeg.webp")
                        .hero-img__filter
                .dashboard-main__reports
                    .gauge
                        h3 Reports
                        .gauge-items
                            each item in gaugeItems
                                +gaugeItem(item)
                    .cards
                        .card
                            +cardInfo()
                        .card
                            +cardInfo()
            section.dashboard-reports
                header.dashboard-reports__header
                    .box
                        .box-icon
                            i.icon-Envelope
                            .box-icon__circle
                    .box
                        img(src="https://res.cloudinary.com/jguaura/image/upload/q_100/v1607472221/profile_ej6ls1.webp")
                .dashboard-reports__graphs
                    .graphs-header
                        h5 Reports
                        .graphs-header__select
                            span Month
                            i.icon-Flecha-Dropdown
                    .graphs-lines
                        .graphs-lines__left
                            .box.box-1
                                span 20k
                                span 15k
                            .box.box-2
                                span 10k
                                span 5k
                            .box.box-3
                                span.last 0k
                        .wrapper
                            -const arr = Array(9).fill(" ")
                            .graphs-lines__box
                                each item, index in arr
                                    +line(`${index + 1}`)
                            -const arr2 = Array(11).fill(" ")
                            .graphs-lines__box.b-1
                                each item, index in arr2
                                        +line(`${index + 2}`)
                            .graphs-lines__box.b-2
                                each item, index in arr2
                                    +line(`${index + 2}`)
                            .graphs-lines__months
                                ul
                                    each month in months
                                        +renderMonth(month)
                .dashboard-reports__gauge
                    .outer-gauge
                        .inner-gauge
                            h3 85
                                span %
                    .detail
                        .detail-item.i-1
                            span Utility
                            span $ 847.00
                        .detail-item.i-2
                            span Taxi
                            span $ 586.50
                        .detail-item.i-3
                            span Food
                            span $ 685.50
